.title {
  margin: 40px;
}

.subtitle {
  margin: 20px;
}

.main-button {
  background-color: #393939;
  border: 2px solid #07124f;
  box-shadow: 0 0 10px #07124f;
  border-radius: 0.5rem;
  color: #6faeff;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 1rem 2rem;
  text-decoration: none;
  cursor: pointer;
  transition: transform 1s;
}

.main-button:hover {
  transform: scale(1.1);
  transition: transform 1s;
}

.main {
  margin-top: 50px;
}

.promo {
  font-weight: bold;
  font-style: italic;
}

.highlight {
  color: #cc4100;
  text-decoration: underline;
}

.actions {
  display: flex;
  width: fit-content;
  margin: auto;
  gap: 10px;
  flex-direction: column;
}

.action {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
  margin: auto;
  padding: 13px 20px;
  border-radius: 5px;
  border: 2px solid #07124f;
  background-color: #393939;
  box-shadow: 0 0 10px #07124f;
}

.arrow {
  font-size: 1.25rem;
}

.enabled {
  cursor: pointer;
  color: #00cc00;
}

.disabled {
  cursor: pointer;
  color: #ff0000;
}
