SERVER_URL=http://localhost:8080
FRONT_URL=http://localhost:8081

MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/area

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=http://localhost:8080/services/google/callback

YAMMER_CLIENT_ID=
YAMMER_CLIENT_SECRET=
YAMMER_CALLBACK_URL=http://localhost:8080/services/yammer/callback
